@import "bulma";
@import "bulma/css/bulma.min.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.home-container {
	max-width: 768px !important;
	margin: 30px auto !important;
	padding: 25px;
}

.todo_item_description {
	> input {
		font-size: 16px;
		&:focus {
			border-color: #485fc7 !important;
			box-shadow: 0 0 0 0.125em rgb(72 95 199 /25%);
		}
	}
}

.error {
	margin-top: 10px;
	margin-bottom: 20px;
	color: #e35151;
}

.logout {
	display: flex;
	justify-content: center;
	background: no-repeat;
}

.register-link {
  position: absolute;
  right: 35px;
  bottom: 37px;
  border-bottom: 1px dashed black;

  a {
    font-weight: bold;
  }
}

.footer {
	background: none !important;
}
